#header{
	background:url(../media/images/bt0.png);
	width:983px;
	overflow:hidden;
}

#header a img{
	display:none;
}

#header img
{
	display:block;
	border:0;
	margin:0;
	padding:0;
}

#header_menu a
{
	float:left;
	display:block;
}

#header_menu + *
{
	clear:both;
}


.btHeaderSelecionado {
	background-position:  0px -70px;
	height:35px;
}

.btHeader {
	background-position:  0px 0px;
	height:35px;
}

.btHeader:hover {
	background-position:  0px -35px;
}

#btInicio {
	background-image: url(../media/images/btInicio.png);
	width:67px;
}

#btPesquisar {
	background-image: url(../media/images/btPesquisar.png);
	width:133px;
}

#btIncluir {
	background-image: url(../media/images/btIncluir.png);
	width:107px;
}

#btAlterar {
	background-image: url(../media/images/btAlterar.png);
	width:111px;
}

#btServices {
	background-image: url(../media/images/btServices.png);
	width:120px;
}

#btSobre {
	background-image: url(../media/images/btSobre.png);
	width:68px;
}