span, input, h1, h2, h3, div
{
	font-family: "Calibri"
}

h2
{
	font-size: 1.4em;
	font-weight : bold;
	color: #2d2e59;
}

h3
{
	font-size: 1.2em;
	font-weight : normal;
}

fieldset .nomeCampo {
	text-align: left;
}

#label_btsubmit{
	font-weight: bold;
	font-size: 1.125em;
	color: #2d2e59;
}

.novoCampo{
	color: #383866;
	text-decoration: underline;
}