a:link { color: blue;}
a:visited { color: blue;}
a:hover { color: red;}
a:active { color: blue;}

body {
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: medium;
}

.content {
	margin: 2em;
}

h1,h2,h3 {
	font-family: serif;
}

fieldset {
	display: inline;
	float: left;
	min-width: 17em;
	max-width: 40em;
	margin: 0 0 3em 0;
	padding: 5px 1em 1em 1em;
	background-color: #EEEEEE;
}

fieldset.submit {
	border: none;
	background-color: transparent;
	text-align: center;
}

fieldset.radio {
	width: 15em;	
	margin: 1em 0 2em 0;
	background-color: #DDDDDD;
}

fieldset.radio label {
	font-weight: normal;
}

fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

input.field {
	display: block;
	width: 15em;
}

/*input.submit {
	display: block;
	width: 15em;	
}*/

input.submit {
	float: right;
}

fieldset label {	
	margin-bottom: 1em;
	font-weight: bold;
}

div.option {
	display: block;
	margin-bottom: 1em;
}

div.block {
  display: block; 
  min-width: 17em;
  max-width: 40em;
  margin: 0 0 3em 0;
  padding: 5px 1em 1em 1em;
  background-color: #EEEEEE;
}

/*
select {
	display: block;
}
*/

div.help {
	display: inline;
	float: left;
	margin: 1em 1em 1em 1em;
	border-style: solid;
	border-width: thin;
	size: auto;
	background-color: #f8f28c;
	padding: 1em 1em 1em 1em;
	width: 15em;
	font: small;
}

div.help label {
	display: block;
	font-weight: bold;
	font: small;
}

