/*
*	Estilo geral
*/

h3
{
	margin-left: 39px;
}

body {
	background-color: #fefefe;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: medium;
	width:983px;
}

.conteudo {
	margin: 0 auto;
}

#passo_0 {
	width: 31.2%;
}

#passo_1 {
	width: 57.1%;
}

#passo_2 {
	width: 57.1%;
}

/*
*	Estilo para o formulário
*/


fieldset {
	display: inline;
	background-color: #EEEEEE;
	padding: 12px;
	margin-bottom: 1.5em;
	border: 0;
	width: 100%;
}

.option {
	margin: 12px;
}

.nomeCampo
{
	margin-bottom: 0.5em;
}

.textField{
	width: 258px;
	border-width: thin;
	margin-top: 0.5em;
	display:block;
}

.submit
{
	background-image:url(../media/images/avancar.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 53px;
	height: 64px;
	border: 0px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

.submit:hover
{
	background-position: 0px -64px;
}

.novoCampo
{
	cursor: pointer;
}

#progresso
{
	margin: 0 auto;
	background-image: url(../media/images/linha_fundo.png);
	background-position: 0px 26px;
	background-repeat: repeat-x;
	width: 533px;
	height: 60px;
}

.bolinha
{
	float: left;	
	background-image: url(../media/images/linha_ativo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	border: 0px;
	display: block;
}

/*
*	Estilo para interface de ajuda
*/


#textoAjuda
{
	position: absolute;
	background-color: #516f9e;
	color: #fefefe;
	width: 222px;
	padding: 20px 24px;
	visibility: hidden;
}

#seta
{
	position: absolute;
	border:0;
	margin:0;
	padding:0;
	visibility: hidden;
}

.btAjuda
{
	vertical-align: middle;
	border:0;
	margin:0;
	padding:0;
}
